# tuple
#Support indexing
-ordered
-multiple and duplicate data
-Imutable

In [ ]:
t=tuple()

In [1]:
t=("Apple","Ball","Cat","Rat")
print(type(t))

<class 'tuple'>

In [4]:
t=("Apple")
t2=("Apple",)
print(type(t))
print(type(t2))
print(t) #print in ordered

<class 'str'>
<class 'tuple'>
Apple

In [5]:
t=("Apple","Ball","Cat","Rat")
print(type(t))
print(t[3])

<class 'tuple'>
Rat

In [ ]:
#no append(),insert(),extend(),
#no update,no del remove() pop(),no sort() 
#in tuple .
#If we need static data then only we use tuple
#it is light weight(takes minimum space)

a=(1,2,3,4)
b=(3,4,5,6)
c=a+b
print(c)

In [6]:
a=(1,2,3,4) 
b=(3,4,5,6) 
c=a+b #concatination
print(c)

(1, 2, 3, 4, 3, 4, 5, 6)

In [8]:
a=tuple()
n=int(input("Enter n="))
for i in range(n):
    x=int(input("Enter x="))
    a=a+(x,)
print(a)

Enter n=2
Enter x=7
Enter x=8
(7, 8)

In [9]:
print(max(a))
print(min(a))
print(sum(a))

8
7
15

In [10]:
print(sort(a))

NameError: name 'sort' is not defined

In [11]:
t=("Apple","Ball","Cat","Rat")
t=list(t)#change tuple to list
t

['Apple', 'Ball', 'Cat', 'Rat']

In [12]:
print(t)
del t[0]
print(t)
t=tuple(t)#change tuple into list
t

['Apple', 'Ball', 'Cat', 'Rat']
['Ball', 'Cat', 'Rat']

('Ball', 'Cat', 'Rat')

In [13]:
a="Apple" #string can be change into tuple or list
print(tuple(a))
print(list(a))

('A', 'p', 'p', 'l', 'e')
['A', 'p', 'p', 'l', 'e']

In [14]:
#set
#no indexing
#unordered
#multiple but no duplicate data
#mutable

In [17]:
s=set()

In [19]:
s={"Apple","Ball","Cat","Rat"}
print(type(s))
print(s) #unorered outout
print(s[0])# no indexing

<class 'set'>
{'Rat', 'Cat', 'Apple', 'Ball'}

TypeError: 'set' object is not subscriptable

In [21]:
s={"Apple","Ball","Cat","Rat","Apple"}
print(s)
l=list(s)
print(l)

{'Rat', 'Cat', 'Apple', 'Ball'}
['Rat', 'Cat', 'Apple', 'Ball']

In [23]:
#s={} dict
s=set() #set
s.add("Apple")
s.add("Ball")
s.add("Cat")
s.add("Apple")# no duplicate value in set
print(s)

{'Cat', 'Apple', 'Ball'}

In [25]:
a=set()
n=int(input("Enter n="))
for i in range(n):
    x=int(input("Enter x="))
    a.add(x)
print(a)

Enter n=2
Enter x=2
Enter x=3
{2, 3}

a={1,2,3,4}
b={3,4,5,6,7}
a.update(b)
print(a)

In [26]:
a={1,2,3,4}
b={3,4,5,6,7}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [27]:
s={1, 2, 3, 4, 5, 6, 7}
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7}

In [33]:
U={0,1,2,3,4,5,6,7,8,9,"Ram"}
a={1,2,3,4,5,"Ram"}
b={4,5,6,7,8,"Ram"}
i=a.intersection(b)
un=a.union(b)
onlyA=a-b
onlyU=(U-un)
onlyB=b-a
print(i)
print(un)
print(onlyA)
print(onlyB)
print(onlyU)

{'Ram', 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 'Ram'}
{1, 2, 3}
{8, 6, 7}
{0, 9}

In [ ]:
inside set
-no list
-no dict
-no set

In [40]:
a={"Apple","Ball"}
b={(1,2),(3,4),(4,5)}
c={("d":"Apple"),("c":"cAT")} #invalid syntax
print(a)
print(b)
print(c)

SyntaxError: invalid syntax (1786182774.py, line 3)

In [ ]:
f