In [ ]:
# list inside list

In [2]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
a = [['Ram',45,'Kathmand'],
    ['Shyam',67,'Bhaktapur'],
    ['Hari',65,'Lalitpur']]
a

[['Ram', 45, 'Kathmand'], ['Shyam', 67, 'Bhaktapur'], ['Hari', 65, 'Lalitpur']]

In [5]:
a = [['Ram',45,'Kathmand'],
    ['Shyam',67,'Bhaktapur'],
    ['Hari',65,'Lalitpur']]
print(a[0][2])
print(a[0][1])

Kathmand
45

In [10]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = [name,age,add]
    l.append(x)
print(l)

Enter n = 1
Enter name = r
Enter age = 5
Enter add = h
[['r', 5, 'h']]

In [13]:
l = [['Ram', 34, 'Kathmandu'], ['Bharat', 34, 'Kathmandu']]
l.append(["Hari",23,"Lalitpur"])
print(l)
del l[2]
print(l)

[['Ram', 34, 'Kathmandu'], ['Bharat', 34, 'Kathmandu'], ['Hari', 23, 'Lalitpur']]
[['Ram', 34, 'Kathmandu'], ['Bharat', 34, 'Kathmandu']]

In [14]:
# search
l = [['Ram', 34, 'Kathmandu'],
     ['Bharat', 34, 'Kathmandu'],
     ['Ram', 23, 'Lalitpur']]

name = input("Enter name = ")
for i in l:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']
['Ram', 23, 'Lalitpur']

In [15]:
a = [["Apple"],["Ball"],["Cat"]]
for i in a:
    if "Apple" in i:
        print("Yes")

Yes

In [16]:
#Update
l = ['Ram', 34, 'Kathmandu']
l[0] = "Rama"
l

['Rama', 34, 'Kathmandu']

In [17]:
l = [['Ram', 34, 'Kathmandu'],
     ['Bharat', 34, 'Kathmandu'],
     ['Ram', 23, 'Lalitpur']]
l[0][0] = "Rama"
l

[['Rama', 34, 'Kathmandu'],
 ['Bharat', 34, 'Kathmandu'],
 ['Ram', 23, 'Lalitpur']]

In [ ]:
# WAP to create a matrix by taking input from user
# r -> ?
# c -> ?
# x -> [[1,2,3],[4,5,6],[8,9,0]]
#y  -> []

In [2]:
x = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        z = int(input("Enter z = "))
        y.append(z)
    x.append(y)
print(x)

Enter r = 2
Enter c = 3
Enter z = 9
Enter z = 8
Enter z = 7
Enter z = 6
Enter z = 5
Enter z = 4
[7, 4]

In [ ]:
#di tionary
#Indexing
#ordered
#multiple and duplicate date
#mutable

In [ ]:
#d={,key:value>,<key>:<value>}

In [5]:
d={'a':'apple','b':'ball'}
print(type(d))
print(d['a'])

<class 'dict'>
apple

In [9]:
d={'a':'apple','b':'ball','b':'rat','B':'dog'}#b of ball repace by rat so it shows mutable property
print(type(d))
print(d['b'])
print(d['B'])

<class 'dict'>
rat
dog

In [14]:
d={'a':'apple','b':'ball','b':'rat','B':'dog'}
c={'1':'apple','2':'ball','3':'rat','4':'dog'}
#e=c+d
d.update(c)
#print(e)shows error curly brases couldnot concat
print(d)

{'a': 'apple', 'b': 'rat', 'B': 'dog', '1': 'apple', '2': 'ball', '3': 'rat', '4': 'dog'}

In [21]:
a={'a':'apple','b':'ball','b':'rat','B':'dog'}
for i in a:
    print(i, end=" ")

a b B

In [17]:
a={'a':'apple','b':'ball','b':'rat','B':'dog'}
for i in a.values():
    print(i, end=" ")

apple rat dog

In [18]:
a={'a':'apple','b':'ball','b':'rat','B':'dog'}
for i in a.items():
    print(i, end=" ")

('a', 'apple') ('b', 'rat') ('B', 'dog')

In [24]:
#create
#d=dict()
d={}
d['a']="Apple"
d['b']="Ball"
d['c']="Cat"
#d['c']="at"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'at'}

In [26]:
#update
a={'a': 'Apple', 'b': 'Ball', 'c': 'at'}
d['a']='Ant'#changed value of a
d

{'a': 'Ant', 'b': 'Ball', 'c': 'at'}

In [28]:
#delete(del,pop())
a={'a': 'Apple', 'b': 'Ball', 'c': 'at'}
del a['a']
print(a)

{'b': 'Ball', 'c': 'at'}

In [30]:
a={'a': 'Apple', 'b': 'Ball', 'c': 'at'}
b=a.pop('a')
print(b)
print(a)

Apple
{'b': 'Ball', 'c': 'at'}

In [31]:
#list inside dict
info={'Ram':9800000,'Shyam':970000,'Hari':960000}
info

{'Ram': 9800000, 'Shyam': 970000, 'Hari': 960000}

In [34]:
info={'Ram': [9800000,9845000],
      'Shyam': [970000,984100],
      'Hari': [960000,984200]}
info

{'Ram': [9800000, 9845000],
 'Shyam': [970000, 984100],
 'Hari': [960000, 984200]}

In [37]:
info={'Ram': [9800000,9845000],
      'Shyam': [970000,984100],
      'Hari': [960000,984200]}
print(info['Ram'])
info['Ram'][0]

[9800000, 9845000]

9800000

In [38]:
info['Ram'][0]=987000
info

{'Ram': [987000, 9845000], 'Shyam': [970000, 984100], 'Hari': [960000, 984200]}

In [39]:
del info['Ram'][0]

In [ ]:
x = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        z = int(input("Enter z = "))
        w = int(input("Enter w = "))
        y.append(z,w)
    x.append(y)
print(x)

In [ ]:
d={}
n=int(input("Enter n="))
for i in range(n):
    name= input("Enter name = ")
    ntc = input("Enter ntc no = ")
    ncell =input("Enter ncell no= ")
    d[name]=[ntc,ncell]
print(d)

Enter n=2
Enter name = name

In [1]:
d={}
n=int(input("Enter n="))
for i in range(n):
    key= input("Enter key = ")
    name= input("Enter name = ")
    ntc = input("Enter ntc no = ")
    ncell =input("Enter ncell no= ")
    d[key]=[name,ntc,ncell]
print(d)

Enter n=2
Enter key = name
Enter name = Ram
Enter ntc no = 899
Enter ncell no= 900
Enter key = shyam
Enter name = 677
Enter ntc no = 7888
Enter ncell no= 899
{'name': ['Ram', '899', '900'], 'shyam': ['677', '7888', '899']}

In [5]:
#d={'name':["Ram","Shyam"],
 # 'ntc':[9800,9700],
 # 'ncell':[9800,9700]}
#print(d['name'][0],d['ntc'][0],d['ncell'][0])


d = {}
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = {}
    for j in range(c):
        name =input("Enter name = ")
        ntc = input("Enter ntc = ")
        ncell = input("Enter ncell = ")
        d[name]= [ntc,ncell]
print(d)

Enter r = 2
Enter c = 2
Enter name = name
Enter ntc = 56
Enter ncell = 56
Enter name = t
Enter ntc = 89
Enter ncell = 90
Enter name = ui
Enter ntc = 9
Enter ncell = 9
Enter name = 90
Enter ntc = 89
Enter ncell = 0
{'name': ['56', '56'], 't': ['89', '90'], 'ui': ['9', '9'], '90': ['89', '0']}

In [16]:
d={}
n=int(input("Enter n="))
for i in range(n):
    keyname= input("Enter key = ")
    dkeyname)
print(d)

Enter n=1
Enter key = g

TypeError: 'dict' object is not callable

In [1]:
x = {}
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        keyname = input("Enter key = ")
        name =input("Enter name = ")
        ntc = input("Enter ntc = ")
        ncell = input("Enter ncell = ")
        y.append(keyname)
       # y.update({keyname:name},{keyname:ntc},{keyname:ncell})
        x[0][0].update({y[0][0]:name})
        x[0][1].update({y[0][1]:ntc})
        x[0][2].update({y[0][2]:ncell})
#print(y)
print(x)

Enter r = 1
Enter c = 3
Enter key = Name
Enter name = r
Enter ntc = 1
Enter ncell = 2

KeyError: 0

In [3]:
d = {'name':[],
    'ntc':[],
    'ncell':[]}
n= int(input("Enter n = "))
for i in range(n):
        name =input("Enter name = ")
        ntc = input("Enter ntc = ")
        ncell = input("Enter ncell = ")
        d['name'].append(name)
        d['ntc'].append(ntc)
        d['ncell'].append(ncell)
print(d)

Enter n = 2
Enter name = ra
Enter ntc = 0
Enter ncell = 9
Enter name = na
Enter ntc = 9
Enter ncell = 8
Enter name = n
Enter ntc = p
Enter ncell = 0
Enter name = 2
Enter ntc = 2
Enter ncell = 2
{'name': ['ra', 'na', 'n', '2'], 'ntc': ['0', '9', 'p', '2'], 'ncell': ['9', '8', '0', '2']}