In [2]:
#dict inside list
d=[{'name':'Ram','age':34,'add':"Kathmandu"},
    {'name':'R','age':34,'add':"Kathmandu"},
    {'name':'am','age':34,'add':"Kathmandu"},
    {'name':'m','age':34,'add':"Kathmandu"}]
print(d)

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'R', 'age': 34, 'add': 'Kathmandu'}, {'name': 'am', 'age': 34, 'add': 'Kathmandu'}, {'name': 'm', 'age': 34, 'add': 'Kathmandu'}]

In [3]:
print(d[0])

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}

In [4]:
print(d[0]['name'])

Ram

In [10]:
l = []
n= int(input("Enter n = "))
for i in range(n):
        name =input("Enter name = ")
        ntc = input("Enter ntc = ")
        ncell = input("Enter ncell = ")
        d={'name':name,'ntc':ntc,'ncell':ncell}
        l.append(d)
print()

Enter n = 1
Enter name = R
Enter ntc = 9
Enter ncell = 0
[{'name': 'R', 'ntc': '9', 'ncell': '0'}]

In [11]:
print(l[0])

{'name': 'R', 'ntc': '9', 'ncell': '0'}

In [13]:
print(l[0]['name'])

R

In [15]:
del l[1]
print(l)

IndexError: list assignment index out of range

In [16]:
#dict inside dict
info={1:{'name':'Ram','age':34,"add":"KTM"},
     2:{'name':'HAri','age':24,"add":"BKT"},
     3:{'name':'Sita','age':14,"add":"PKR"}}
info

{1: {'name': 'Ram', 'age': 34, 'add': 'KTM'},
 2: {'name': 'HAri', 'age': 24, 'add': 'BKT'},
 3: {'name': 'Sita', 'age': 14, 'add': 'PKR'}}

In [17]:
info[1]

{'name': 'Ram', 'age': 34, 'add': 'KTM'}

In [19]:
del info[1]['name']
info

{1: {'age': 34, 'add': 'KTM'},
 2: {'name': 'HAri', 'age': 24, 'add': 'BKT'},
 3: {'name': 'Sita', 'age': 14, 'add': 'PKR'}}

In [21]:
info = {}
n= int(input("Enter n = "))
for i in range(1,n+1):
        name =input("Enter name = ")
        age = input("Enter age = ")
        add = input("Enter add = ")
        d={'name':name,'age':age,'add':add}
        info[i]=d
print(info)

Enter n = 2
Enter name = r
Enter age = 0
Enter add = u
Enter name = p
Enter age = 8
Enter add = 9
{1: {'name': 'r', 'age': '0', 'add': 'u'}, 2: {'name': 'p', 'age': '8', 'add': '9'}}

In [23]:
info[3]={'name': 'p', 'age': '8', 'add': '9'}
info

{1: {'name': 'r', 'age': '0', 'add': 'u'},
 2: {'name': 'p', 'age': '8', 'add': '9'},
 3: {'name': 'p', 'age': '8', 'add': '9'}}

In [24]:
info[3]['add']={'per':'Dhading','temp':'KTM'}
info

{1: {'name': 'r', 'age': '0', 'add': 'u'},
 2: {'name': 'p', 'age': '8', 'add': '9'},
 3: {'name': 'p', 'age': '8', 'add': {'per': 'Dhading', 'temp': 'KTM'}}}

In [25]:
info[3]['add']={'per':'Dhading','temp':{'one':'balaju','next':'baneshwor'}}
info

{1: {'name': 'r', 'age': '0', 'add': 'u'},
 2: {'name': 'p', 'age': '8', 'add': '9'},
 3: {'name': 'p',
  'age': '8',
  'add': {'per': 'Dhading', 'temp': {'one': 'balaju', 'next': 'baneshwor'}}}}

In [26]:
info[3]['name']={'firstname':'r','lastname':'kc'}
info

{1: {'name': 'r', 'age': '0', 'add': 'u'},
 2: {'name': 'p', 'age': '8', 'add': '9'},
 3: {'name': {'firstname': 'r', 'lastname': 'kc'},
  'age': '8',
  'add': {'per': 'Dhading', 'temp': {'one': 'balaju', 'next': 'baneshwor'}}}}