In [1]:
#file handling
#file=open("<file_name","<mode>")
#file.close()

#with open("<file_name","<mode>") as file:
#<operation>


#modes
#-create->'x'
#-read->'r'
#-write->'w'
#-append->'a'

In [2]:
file=open('data.txt','x')#twice run gives error
file.close()

In [3]:
pwd

'C:\\Users\\Dell\\Desktop\\Python Project'

In [4]:
file=open('data.txt','r')
data=file.read()
print(data)
file.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World

In [5]:
print(type(data))

<class 'str'>

In [7]:
try:
    file=open('data.txt','x')#twice run gives error to remove this exception handling can be done
    file.close()
except:
    print("The file is already there.")

The file is already there.

In [8]:
data=data.split('\n')#changed into list
data

['1.Hello World',
 '2.Hello World',
 '3.Hello World',
 '4.Hello World',
 '5.Hello World']

In [9]:
print(data[0])

1.Hello World

In [10]:
#write mode
file=open('data1.txt','w')#if file is already exist then content overwrite otherwise create file and write
file.write('Hello World')
file.close()

In [13]:
bill=str()
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter product name=")
    price=float(input("Enter price="))
    qty=float(input("Enter quantity="))
    total=price*qty
    bill=bill+f"{name}\t{price}\t{qty}\t{total}\n"
file=open('bill.txt','w')
file.write('Name\tPrice\tQuantity\tTotal\n')
file.write(bill)
file.close()

Enter n=2
Enter product name=Apple
Enter price=280
Enter quantity=2
Enter product name=Mango
Enter price=300
Enter quantity=3

In [14]:
bill=str()
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter product name=")
    price=float(input("Enter price="))
    qty=float(input("Enter quantity="))
    total=price*qty
    bill=bill+f"{name},{price},{qty},{total}\n"
file=open('bill.csv','w')
file.write('Name,Price,Quantity,Total\n')
file.write(bill)
file.close()

Enter n=2
Enter product name=Apple
Enter price=600
Enter quantity=2
Enter product name=Mango
Enter price=900
Enter quantity=2

In [15]:
pwd

'C:\\Users\\Dell\\Desktop\\Python Project'

In [20]:
#using append mode
file=open('bill1.csv','a')
file.write('Name,Price,Quantity,Total\n')

26

In [21]:
bill=str()
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter product name=")
    price=float(input("Enter price="))
    qty=float(input("Enter quantity="))
    total=price*qty
    bill=bill+f"{name},{price},{qty},{total}\n"
file.write(bill)

Enter n=2
Enter product name=Apple
Enter price=200
Enter quantity=2
Enter product name=Mango
Enter price=300
Enter quantity=3

44

In [22]:
file.close()

In [23]:
import pandas as pd
df=pd.read_csv('bill1.csv')
df

      Name  Price  Quantity  Total
0    Chips   60.0       2.0  120.0
1  Biscuit   20.0      12.0  240.0
2     Name  Price  Quantity  Total
3    Apple  200.0       2.0  400.0
4    Mango  300.0       3.0  900.0