In [1]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\dell\appdata\roaming\python\python311\site-packages (8.3.0)

In [3]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
db = database.cursor()

db.execute("CREATE DATABASE pythons")

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3307:3306' (11001 getaddrinfo failed)

In [10]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python3pm"
)
db = database.cursor()

In [11]:
db.execute("select*from student")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Rama', 89, 98, 85, 67, 89, 420, 82.5, 'A')
(3, 'Nabin', 82, 84, 85, 98, 89, 430, 88.5, 'A')
(4, 'Shiva', 49, 57, 25, 98, 89, 400, 70.0, 'A')
(8, 'Ram', 78, 79, 93, 67, 78, 415, 83.5, 'A')
(10, 'Sameer', 89, 67, 80, 98, 89, 412, 82.5, 'A')
(11, 'Rama', 89, 45, 65, 87, 78, 364, 72.8, 'B')
(12, 'Ram', 87, 90, 65, 78, 87, 407, 81.4, 'A')
(13, 'Gauri', 98, 78, 90, 87, 78, 431, 86.2, 'A')
(40, 'Hari', 89, 89, 89, 78, 87, 412, 83.0, 'A')

In [12]:
db.execute("select name from student")
result=db.fetchall()
for x in result:
    print(x)

('Rama',)
('Nabin',)
('Shiva',)
('Ram',)
('Sameer',)
('Rama',)
('Ram',)
('Gauri',)
('Hari',)

In [13]:
db.execute("select name from student where grade='A'")
result=db.fetchall()
for x in result:
    print(x)

('Rama',)
('Nabin',)
('Shiva',)
('Ram',)
('Sameer',)
('Ram',)
('Gauri',)
('Hari',)

In [15]:
#insert
sql='''INSERT INTO `student`(`sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) VALUES ('16','Rachana','99','99','99','99','99','499','99','A');'''
db.execute(sql)
database.commit()

IntegrityError: 1062 (23000): Duplicate entry '16' for key 'PRIMARY'

In [24]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python3pm"
)
cursor=database.cursor()
sn = int(input("Enter sn = "))
name = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali = "))

total = physics + chemistry + math + english + nepali
per = total/5

if per >= 80:
    grade = "A"
elif per >=60:
    grade = "B"
elif per >= 45:
    grade = "C"
else:
    grade = "F"
cursor.execute('''INSERT INTO `student`(`sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) 
VALUES(?,?,?,?,?,?,?,?,?,?) ''',(sn,name,physics,chemistry,math,english,nepali,total,per,grade))
database.commit()
database.close()

Enter sn = 17
Enter name = Rina
Enter physics marks = 80
Enter chemistry marks = 90
Enter math marks = 80
Enter english marks = 90
Enter nepali = 80

ProgrammingError: Not all parameters were used in the SQL statement