In [ ]:
# for loop
# while loop

In [ ]:
# for loop
#range(5)          #0,1,2,3,4    for(i = 0; i<5; i++;)
#range(1,5)        #1,2,3,4      for(i = 1; i<5; i++;)
#range(1,10,2)     #1,3,5,7,9    for(i = 1; i<10; i=i+2;)

In [1]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [2]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [3]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [4]:
for i in range(5,-1,-1):
    print(i,"Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World

In [5]:
# WAP to create a multiplication table
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 7
7
14
21
28
35
42
49
56
63
70

In [6]:
# WAP to create a multiplication table
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [7]:
for i in range(5):
    x = int(input("Enter x = "))
    print("You entered ",x)

Enter x = 3
You entered  3
Enter x = 2
You entered  2
Enter x = 1
You entered  1
Enter x = 4
You entered  4
Enter x = 5
You entered  5

In [8]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
    
print("sum = ",s)

Enter n = 4
Enter x = 1000
Enter x = 50000
Enter x = 10000
Enter x = 3000
sum =  64000

In [9]:
#s = str()
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s + x + "\n"
    
print(s)

Enter n = 3
Enter x = utkarsh
Enter x = rachana
Enter x = binod
utkarsh
rachana
binod

In [10]:
#s = str()
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name +" " + phone + "\n"
    
print(s)

Enter n = 3
Enter name = utkarsh
Enter phone = 9851004580
Enter name = rachana
Enter phone = 984922
Enter name = binod
Enter phone = 29474
utkarsh 9851004580
rachana 984922
binod 29474

In [ ]:
# for loop in string

In [14]:
a = "Hello World"
for i in a:
    print(i, end="")

Hello World

In [15]:
a = "Hello World. I am Python."
for i in a:
    if i != ".":
        print(i,end = "")

Hello World I am Python

In [16]:
a = "Hello World! I am Python."
for i in a:
    if i != "." and i != "!" :
        print(i,end = "")

Hello World I am Python

In [17]:
for i in range(5):
    print(i*"o")

o
oo
ooo
oooo

In [21]:
n = 10
for i in range(n):
    print((n-i)*" ",(2*i-1)*"o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo

In [22]:
a = "o"
print(a*(-1))

In [23]:
n = 10
for i in range(n):
    print((n-i)*" ",(2*i-1)*"o")
for i in range(n,0,-1):
    print((n-i)*" ",(2*i-1)*"o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo
 ooooooooooooooooooo
  ooooooooooooooooo
   ooooooooooooooo
    ooooooooooooo
     ooooooooooo
      ooooooooo
       ooooooo
        ooooo
         ooo
          o

In [ ]:
# control statement
# break
# continue
# pass

In [24]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [25]:
for i in range(10):
    if i == 5:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [26]:
for i in range(5):
    pass

In [27]:
a = "Hello World. I am Python."
for i in a:
    if i ==".":
        break
    print(i,end = "")

Hello World

In [28]:
a = "Hello World. I am Python."
for i in a:
    if i ==".":
        continue
    print(i,end = "")

Hello World I am Python

In [29]:
n = int(input("Enter n = "))
for i in range(1,n*11):
    if i%n !=0:
        continue
    print(i)

Enter n = 2
2
4
6
8
10
12
14
16
18
20

In [30]:
# while loop

In [ ]:
# while <condition>:
#     <operations>

In [31]:
a = 0
while a<=5:
    print(a)
    a = a +1

0
1
2
3
4
5

In [32]:
a = 0
while a<5:
    print(a,"Hello World")
   # a = a +1
    a+=1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [33]:
# WAP to create a multiplication table
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i = i+1

Enter n = 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [34]:
i = 0
s = 0
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter x = "))
    s = s + x
    i = i + 1
print("sum = ",s)

Enter n = 2
Enter x = 4
Enter x = 3
sum =  7

In [35]:
# 5! = 1*2*3*4*5
i = 1
fac = 1
n = int(input("Enter n = "))
while i<=n:
    fac = fac * i
    i = i +1
    print(fac)

Enter n = 6
1
2
6
24
120
720

In [36]:
#s = str()
s = ""
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name +" " + phone + "\n"
    i = i+1
print(s)

Enter n = 1
Enter name = r
Enter phone = 66
r 66

In [37]:
# control statement in while loop
i = 0
while i<10:
    if i == 5:
        break
    print(i)
    i = i +1

0
1
2
3
4

In [38]:
# control statement in while loop
i = 0
while i<10:
    if i == 5:
        i = i+1
        continue
        
    print(i)
    i = i +1

0
1
2
3
4
6
7
8
9

In [39]:
# control statement in while loop
i = 0
while i<10:
    
    print(i)
    i = i +0.5

0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5

In [41]:
#WAP to find if the given number is prime or composite
# prime -> 2,3,5,7,11,13,17,19
# composite -> 4,6,8,9,10,12,

a = int(input("Enter a = "))
if (a!=2 and a!=3 and a!=5 and a!=7) and(a%2==0 or a%3==0 or a%5==0 or a%7==0):
    print(a," is composite number")
else:
    print(a,"is prime number")

Enter a = 7
7 is prime number